*{
    box-sizing: border-box;
}
.Container{
    background-color: rgb(255, 255, 255,0.7);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content{
    text-align: center;
    width: 100%;
    max-width: 100%;
    overflow-wrap: break-word;
}


a {
    text-decoration: none;
    color: inherit;
}

.author{
    font-weight:600;
    cursor: pointer;
}
.author:hover{
    text-decoration: underline;
}

.Content {
    padding: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Content a{
    text-decoration: underline;
    color: blue;
}

.image{
    display: flex;
    justify-content: center;
    margin: 10px;
}
img{
    max-height: 300px;
    max-width: 70%;
}

.buttons{
    margin: 5px;
    margin-top: 10px;
    display: flex;
}

.btn{
    background-color: rgb(79, 187, 255);
    padding: 5px 10px;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(114, 201, 255);
}

input:hover{
    border: 2px solid lightskyblue;
}
.Comments .btn{
    margin-top: 5px;
}

.user{
    font-weight: 700;
    font-size: large;
    color: rgb(10, 170, 244);
}

.CommentContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 130px;
    max-width: 300px;
    overflow-y: scroll;
}


.SingleComment{
    margin: 10px;
}

.CommentInfo{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    align-items: center;
}

.CommentDate{
    color: rgb(0, 32, 103);
    font-size: small;
}
